body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ECEDED;
 }

 a {
    text-decoration: none;
    color: currentColor;
 }

 ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
 }

 p, h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;

 }
  img { 
    display: block;
    max-width: 100%;
  }

 button {
    cursor: pointer;
 }

 address {
    font-style: normal;
 }

 .container { 
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    }

    .header {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    .hero-container {
        background-color: rgba(17, 17, 17, 0.60);
        border-radius: 30px;
        padding: 381px 40px 40px 40px;
        background-image: url(../images/chocolate_main-min.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0), rgba(17, 17, 17, 1)),
        url(../images/chocolate_main-min.jpg);
        
        

    }
 

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

   /* HEADER */

.header-logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-logo-italic {
    font-style: italic;
}




.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: 0.02em;
}
    
.header-menu-link:hover  {
    color: orange;
}

.header-menu-link:focus  {
    color: orangered;
}

.header-menu-list  {
    display: flex;
    gap: 24px;
}

.header-soc-list {
    display: flex;
    gap: 14px;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    
}

.header-container {
    display: flex;
    gap: 90px;
    align-items: center;
}


/* HERO */

.main {
}

.hero {
    padding-bottom: 80px;
    
    
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21; /* 121.429% */
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    max-width: 484px;
}

.hero-buy-btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    background: #FD9222;
    font-family: Montserrat;
    cursor: pointer;
    border-radius: 100px;
    border: 0;
    padding: 14px 40px 14px 40px;
    transition-property: background-color;
  transition-duration: 300ms;
}

.hero-buy-btn:hover {
    background-color: #ebca9a;
    color: #fc8d17;
}




.hero-made-btn {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    padding: 14px 40px 14px 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin-right: 585px;
}

.hero-down-btn {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.03em;
}

.icon-anglel {
    background-color: white;
   border-radius: 50%;
   width: 38px;
   height: 38px;
   margin-left: 14px;
   position: relative;
   bottom: -10px;
   
}



/* Features */

.features {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-list {
    display: flex;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
}

.features-item {
    width: calc((100% - 88px * 2) / 3);
    position: relative;
}

.features-item:not(:last-child):after {
    content: '';
    width: 1px;
height: 124px;
background: rgba(255, 255, 255, 0.50);
display: block;
position: absolute;
right: -44px;
top: 65px;



}
.features-subtitle {
    color: #FFF;
   font-size: 18px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   margin-bottom: 18px;
}

.features-item-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.02em;
    max-width: 308px;
    width: 100%;
}

.features-icon {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    border: 1px solid #FFFFFF80;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    
}


/* TASTE */

.taste {
    padding-top: 120px;
}

.taste-title {
    color: #111;

text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 1.17; 
letter-spacing: -0.03em;
text-transform: uppercase;

max-width: 412px;
width: 100%;
margin: 0 auto;
margin-bottom: 28px;
}

.taste-title-orange {
    color: #FD9222;

}


.taste-text {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28; 
    letter-spacing: -0.02em;
    max-width: 486px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
    
}

.taste-item {
    border-radius: 15px;
    border: 1px solid #FD9222;;
    width: calc((100% - 32px * 3) / 4);
    padding: 28px 23px;
}

.taste-item:nth-child(1),
.taste-item:nth-child(5) {
    background-color: #FD9222;
    border-radius: 15px;
}
.taste-item:nth-child(2),
.taste-item:nth-child(4),
.taste-item:nth-child(6) {
    background-color: #FFFFFF;
}
.taste-item:nth-child(3),
.taste-item:nth-child(7)

 {
    background-color: black;
    
}

.taste-item:nth-child(1) .taste-subtitle,
.taste-item:nth-child(5) .taste-subtitle,
.taste-item:nth-child(3) .taste-subtitle,
.taste-item:nth-child(7) .taste-subtitle
 {
    color: #FFFFFF;
}




.taste-img {
    margin: 0 auto;
    margin-bottom: 36px;
}

.taste-subtitle {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29; 
    letter-spacing: -0.02em;
}

/* MADE*/

.made {
    padding-top: 120px;
}

.made-title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
    
}

.made-orange {
    color: #FD9222;
}

.made-img {
    border-radius: 15px;
}

.made-subtitle {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    margin-bottom: 28px;
    max-width: 350px;
    
   
}

.made-wrap {
    display: flex;
    gap: 20px;
    
}

.made-contant {
    background-color: white;
    padding: 32px;
}
.made-list {
    
}

.made-item {
    display: flex;
    gap: 5px;
   
    
}

.made-text {
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    
}

.icon-sicial {
    min-width: 8px;
    min-height: 8px;
}


  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }

  


  /* PRODUCTS*/



.products-title {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 50px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
}

.products-orange{
    color: #FD9222;
}


.products-item {
    border-radius: 15px;
    padding: 32px 20px 32px 20px;
    width: calc((100% - 18px * 3) / 4);
    border: 1px solid #1111111A;
    background-color: white;
}

.products-container-two {
    text-align: center;
}
    



.products-subtitle {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33; 
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 2px;
    margin-top: 8px;
}
.products-text {
    color: rgba(17, 17, 17, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: -0.02em;
    margin-bottom: 16px;
}
.products-btn {
    color: black;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    border-radius: 100px;
    border: 1px solid #1111111A;
}

/* SELLERS*/

.sellers {
}
.sellers-title {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

.sellers-orange {
    color: #FD9222;

}
.sellers-list {
    display: flex;
    gap: 16px;
}
.sellers-item {
    width: calc((100% - 16px * 2) / 3);
    border-radius: 15px;
    border: 1px solid #1111111A;
    
}
.sellers-img {
    width: 368px;
    border-radius: 15px 15px 0px 0px;
}
.sellers-name {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33; 
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding: 28px 0px 28px 0px;
    background-color: white;
    text-align: center;
    
    border-radius: 0px 0px 15px 15px;
    border-bottom: 1px solid #1111111A;
    
}

.sellers-item-text {
    color: var(--white, #FAFAFA);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.29; /* 128.571% */
letter-spacing: -0.02em;
}

.sellers-item-wrap {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 178px 40px 178px 40px;
    border-radius: 15px 15px 0px 0px;
background: linear-gradient(165deg, rgba(253, 253, 255, 0.10) 3.97%, rgba(8, 2, 21, 0.00) 109.76%);
backdrop-filter: blur(7.5px);
transform: translateY(100%);
transition: transform 200ms linear;
}

.sellers-item:hover .sellers-item-wrap {
    transform: translateY(0);
    
}

.container-sellers {
    position: relative;
    overflow: hidden;
}

/* LOVED*/



.loved-title {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 91px;
    
    
}

.loved-orange {
    color: #FD9222;
}
.loved-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.loved-item {
    padding: 56px 24px 24px 24px;
    width: calc((100% - 56px) / 3);
    border-radius: 15px;
border: 1px solid rgba(17, 17, 17, 0.10);
background: #FFF;
box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
position: relative;
    
}

.loved-img {
    border-radius: 50px;
    margin-bottom: 18px;
    margin: 0 auto;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -20%;
}

.loved-name {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33; 
    text-align: center;
    margin-bottom: 24px;
    
}









.loved-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29; 
    letter-spacing: -0.02em;
    text-align: center;
    
}

.loved-btn {
    
    
    color: #111;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 120px;
    border-radius: 100px;
border: 1px solid #FD9222;
padding: 14px 40px 14px 40px;


}

.button-loved-container {
    display: flex;
    justify-content: center;
}

/* FOOTER*/

.footer {
    background: #1E1823;
    height: 298px;
    
}

.footer-text {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    font-family: Montserrat;
    margin-bottom: 96px;
}
.footer-orange {
    color: #FD9222;
}

.footer-name {
    color: #FFF;
    margin-bottom: 14px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29; 
}
.footer-list {
    display: flex;
    gap: 14px;
}
.footer-item {
    
    
}
.footer-link {
}
.footer-subtitle {
    color: #FFF;
    padding-bottom: 14px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29; 
}

.icon-social-images {
    fill: white;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-phone {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
.footer-address-mail {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}
.footer-navigation {
}
.footer-menu-list {
    display: flex;
    gap: 24px;
}
.footer-menu-item {
    
}
.footer-menu-link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
}

.footer-text-one {
    width: 300px;
    margin-right: 400px;
    display: flex;
}



.main-footer {
display: flex;
padding-top: 50px;
justify-content: space-between;


}



.footer-social {
    
}